---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ImageTile from "@components/ImageTile.astro";
import { WORKS } from "@consts";

const data = (await getCollection("works"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const work = await Promise.all(
  data.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={WORKS.TITLE} description={WORKS.DESCRIPTION}>
  <div class="justify-center items-center">
    <Container class="max-w-1 gap-2">
        <ul class="flex flex-wrap justify-center">
          { 
            work.map(entry => (
              <li class="animate">
                  <ImageTile entry={entry}/>
              </li>
            ))
          }
        </ul>
    </Container>
  </div>
</PageLayout>
