---
import PageLayout from "@layouts/PageLayout.astro";
import { ATBP } from "@consts";
import WideContainer from "@components/WideContainer.astro";
---

<PageLayout title={ATBP.TITLE} description={ATBP.DESCRIPTION}>
    <WideContainer>
        <div class="text-center">
            Dumping everything else here
        </div>
    </WideContainer>
</PageLayout>