---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { NOW } from "@consts";

// Import md content
import { Content as ContentHtml } from "@components/now.md";
import * as Content from "@components/now.md";


import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

const lastModified = dayjs()
  .utc(Content.frontmatter.lastModified)
  .format("DD MMMM YYYY");
---

<PageLayout title={NOW.TITLE} description={NOW.DESCRIPTION}>
    
    <Container class="max-w-1 gap-4">
        <div class="animate">
            <div class="text-lg font-semibold text-gray-500 dark:text-gray-400">
                {Content.frontmatter.title}
            </div>
            <ContentHtml />
            <div class="animate text-sm text-gray-500 dark:text-gray-400 mt-4">
                <p>Last updated: { lastModified }</p>
            </div>
        </div>
    </Container>
    
</PageLayout>
<style>
    p {
        white-space: pre-wrap;
    }
    
</style>