---
import WideContainer from "@components/WideContainer.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <WideContainer>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/about">
          about
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/work">
          work
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/atbp">
          atbp
        </Link>
      </nav>
    </div>
  </WideContainer>
</header>
