---
import WideContainer from "@components/WideContainer.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
    <div class="fixed z-100 top-0 left-0 w-screen">
      <Link href="/" underline={false}>
        <div class="flex items-center justify-between my-auto px-32 py-10">
            
              <div class="font-semibold">
                {SITE.NAME}
              </div>
            
        </div>
      </Link>
      
    </div>
      <nav class="z-10 justify-center flex flex-wrap gap-y-2 gap-x-5 items-center absolute w-screen">
        <Link href="/about">
          about
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/works">
          works
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/atbp">
          atbp
        </Link>
      </nav>
    </div>
</header>
